* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  
  min-height: 500vh;
  background-color: white;
  width:100%;
  
}


/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: rgba(123, 106, 218, 255);
  align-items: center;
  justify-content: start;
  color: white;
  
  

}


/* Style the navigation bar links */
.navbar #abc{
  color: white;
  padding: 17px 20px;
  text-decoration: none;
  text-align: center;
  margin-left: 2vw;
  border-radius: 20px;
  


}
.navbar #abcd{
  color: white;
  padding: 17px 20px;
  text-decoration: none;
  text-align: center;
  margin-left: 21vw;
  border-radius: 20px;
}

.navbar h2 {
  color: white;
  margin-left: 1em;
  margin-top: 0.0em;
  width: 8vw;
  font-size: 1.2rem;
  font-weight: 600;
  border-right: 2px solid rgba(255, 255, 255, 0.333);
}

.navbar input {
  height: 5vh;
  background-color: rgba(141, 125, 223, 255);
  border-radius: 10vw;
  width: 15vw;
  border: none;
  margin-left: 3vw;
  position: relative;

}

::placeholder {
  color: rgb(251, 247, 247);
  font-size: 0.8rem;
  font-weight: 550;
  color: #ffff;
  text-align: start;
  font-size: 0.8rem;
  
  
}

.navbar i{
  font-size: 1.2rem;
  font-weight: 700;
  position: absolute;
  left: 25.5%;
  cursor: pointer;
}

input:focus::placeholder {
  color: transparent;
}

/* Change color on hover */
.navbar a:hover {
  background-color: rgba(141, 125, 223, 255);
  /* border-radius:30px; */

}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}



/* Main column */
.main2 {
  flex: 70%;
  background-color: rgba(123, 106, 218, 255);
  padding: 20px;
  height: 80vh;
  width: 100vw;
  border-bottom-right-radius: 20vw 100px;

}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 65%;
  min-height: 68vh;
  margin-left: 32vw;
  border-radius: 2vw;
  background-image: url(https://images.unsplash.com/photo-1576012515939-5c62ec3f4367?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80);
  background-position: center;
  background-size: cover;
  position: relative;
}


.fakeimg button {
  margin: 2.3em 0 0 4.3em;
  border-radius: 5em;
  padding: 0.6em;
  background-color: rgb(123, 106, 218, 255);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.7em;
}

.fakeimg h2 {
  margin: 1.3em 0 0 1.9em;
  width: 20vw;
  color: white;
  line-height: 150%;
  font-size: 1.6rem;
  /* font-weight: 800; */

}

.fakeimg p {
  color: white;
  margin: 1.3em 0 0 2.9em;
  font-size: 1rem;
  width: 45vw;
  line-height: 150%;
}

.demo .btn2 {

  margin-bottom: 10px;
  padding: 1em;
  color: rgb(123, 106, 218, 255);
  background-color: white;
  cursor: pointer;
  align-self: center;
}

.demo {
  display: flex;
  align-items: center;

  /* position: relative; */
  /* background-color: bisque; */
}



.demo i {

  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  margin-top: 3vh;
  margin-left: 2vw;
}

.demo h5 {
  font-size: 0.8rem;
  color: rgb(229, 233, 244);
  cursor: pointer;
  margin-top: 3vh;
  margin-left: 1vw;


}


.secondsec{

 
  padding: 20px;
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  

}


.div1{

  height: 40vh;
  width: 20vw;
  background-color: rgba(241,240,254,255);
  margin: 9em 0 0 5em;
  border-radius: 8px;
  
}

.maindiv h3 , p{
  margin:2em 0 0 1.5em;
  line-height:30px;
 
}

.maindiv p{
  margin-top: 0.5em;
}

.maindiv button{
  padding: 0.8em;
  margin:0.5em 0 0 2em;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color:rgba(123, 106, 218, 255);
  background-color: white;
  width: 7vw;
  font-weight: 600;
}



.div2{

  height: 40vh;
  width: 20vw;
  background-color: rgba(241,240,254,255);
  margin: 9em 0 0 5em;
  border-radius: 10px;
}


.div3{

  height: 40vh;
  width: 20vw;
  background-color: rgba(241,240,254,255);
  margin: 9em 0 0 5em;
  border-radius: 10px;

}

.round1{
  width: 8vw;
  height: 18vh;
  background-color: rgb(123, 106, 218, 255);
  border-radius: 50%;
  position: absolute;
  top:20%;
  left: 27%;
  background-image:url(https://e7.pngegg.com/pngimages/312/889/png-clipart-master-s-degree-academic-degree-online-degree-master-of-science-master-of-education-master-degree-text-logo.png);
  background-position: center;
  background-size: cover;
  
}

.round2{
  width: 8vw;
  height: 18vh;
  background-color: rgb(123, 106, 218, 255);
  border-radius: 50%;
  position: absolute;
  top:20%;
  left: 58%;  
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/007/642/164/small/headphone-earphone-headset-for-music-line-pop-art-potrait-logo-colorful-design-with-dark-background-abstract-illustration-vector.jpg);
  background-position: center;
  background-size: cover;

}

.round3{
  width: 8vw;
  height: 18vh;
  background-color: rgb(123, 106, 218, 255);
  border-radius: 50%;
  position: absolute;
  top:20%;
  left: 89%;
  background-image: url(https://t4.ftcdn.net/jpg/04/68/51/83/360_F_468518307_E0oIClrNW6zePs06TjVNwBw4HyKHrxzY.jpg);
  background-position: center;
  background-size: cover;
}

.question{
  background-color: rgba(123, 106, 218, 255);
  height: 75vh;
  width: 40vw;
  border-radius: 20px;
  margin:0 0 0 10em;
  position: relative;
}

.question .firstq{
  width: 32vw;
  height: 7vh;
  background-color: white;
  border-radius: 50px;
  padding-left:1.5em;
  padding-top: 0.7em;
  position: absolute;
  top: 10%;
  left: 10%;
  position: relative;
}

.firstq i{
  font-size: 1.6rem;
  color: rgb(123, 106, 218, 255);
  position: absolute;
  top: 14%;
  left: 91%;
  cursor: pointer;
   
}

.question .secq{
  width: 32vw;
  height: 7vh;
  background-color: white;
  border-radius: 50px;
  padding-left:1.5em;
  padding-top: 0.7em;
  position: absolute;
  top: 15%;
  left: 10%;
  position: relative;
} 

.secq i{
  font-size: 1.6rem;
  color: rgb(123, 106, 218, 255);
  position: absolute;
  top: 14%;
  left: 91%;
  cursor: pointer;
}

.question .thirdq{
  width: 32vw;
  height: 27vh;
  background-color: white;
  border-radius: 20px;
  padding-left:1.5em;
  padding-top: 0.7em;
  position: absolute;
  top: 20%;
  left: 10%;
  position: relative; 

}

.thirdq h4{
  color: rgb(123, 106, 218, 255);
}
.thirdq p{
    margin-top: 0.9em;
    margin-left: 0.5em;
    font-family: fantasy;
}

.thirdq i{
  font-size: 1.6rem;
  color: rgb(123, 106, 218, 255);
  position: absolute;
  top: 5%;
  left: 91%;
  cursor: pointer;
}



.question .fourq{
  width: 32vw;
  height: 7vh;
  background-color: white;
  border-radius: 50px;
  padding-left:1.5em;
  padding-top: 0.7em;
  position: absolute;
  top: 25%;
  left: 10%;
  position: relative;
} 

.fourq i{
  font-size: 1.6rem;
  color: rgb(123, 106, 218, 255);
  position: absolute;
  top: 14%;
  left: 91%;
  cursor: pointer;
}
.thirdsec{
  display: flex;
}

.aboutus{
  width: 50vw;
  height: 65vh;
  background-color: rgba(241,240,254,255);
  margin-top: 1.7em;
}

.aboutus h4 , p , h2 , button{
  margin: 1em 0 0 4em;
}

.aboutus h4{
  color: rgb(123, 106, 218, 255);
  font-size: 1.2rem;
  margin-top:3em ;
}

.aboutus h2{
  font-size: 1.9rem;
  font-weight: 900;
  margin-left: 2.5em;

}

.aboutus p{
  font-family: fantasy;
  margin-left: 5em;
}

.aboutus button{
  margin: 2em 0 0 6em;
  padding: 1em;
  color: rgb(123, 106, 218, 255);
  background-color: white;
  border-radius: 40px;
  border: none;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  width: 10vw;
}

/* *********************courses section****************** */
.litnav{
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-left: 22em;
  background-color: rgba(241,240,254,255);
  width: 50vw;
  border-radius: 50px;
  color: black;
  height: 9vh;
  align-items: center;
}

.litnav a{
  margin-left: 3em;
  text-decoration: none;

}

.courses h2{
  text-align: center;
  font-weight: 800;
}








/* Footer */


