*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,body {
  height: 100%;
  width: 100%;
}

.main {
  
  min-height: auto;
  background-color: white;
  width:100%;
  
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: rgba(123, 106, 218, 255);
  align-items: center;
  justify-content: start;
  color: white;
  
  

}


/* Style the navigation bar links */
.navbar #abc{
  color: white;
  padding: 17px 20px;
  text-decoration: none;
  text-align: center;
  margin-left: 2vw;
  border-radius: 20px;
  


}
.navbar #abcd{
  color: white;
  padding: 17px 20px;
  text-decoration: none;
  text-align: center;
  margin-left: 21vw;
  border-radius: 20px;
}

.navbar h2 {
  color: white;
  margin-left: 1em;
  margin-top: 0.0em;
  width: 8vw;
  font-size: 1.2rem;
  font-weight: 600;
  border-right: 2px solid rgba(255, 255, 255, 0.333);
}

.navbar input {
  height: 5vh;
  background-color: rgba(141, 125, 223, 255);
  border-radius: 10vw;
  width: 15vw;
  border: none;
  margin-left: 3vw;
  position: relative;

}

::placeholder {
  color: rgb(251, 247, 247);
  font-size: 0.8rem;
  font-weight: 550;
  color: #ffff;
  text-align: start;
  font-size: 0.8rem;
  
  
}

.navbar i{
  font-size: 1.2rem;
  font-weight: 700;
  position: absolute;
  left: 25.5%;
  cursor: pointer;
}

input:focus::placeholder {
  color: transparent;
}

/* Change color on hover */
.navbar a:hover {
  background-color: rgba(141, 125, 223, 255);
  /* border-radius:30px; */

}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}



/* Main column */
.main2 {
  flex: 70%;
  background-color: rgba(123, 106, 218, 255);
  padding: 20px;
  height: 80vh;
  width: 100vw;
  border-bottom-right-radius: 20vw 100px;

}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 65%;
  min-height: 68vh;
  margin-left: 32vw;
  border-radius: 2vw;
  background-image: url(https://images.unsplash.com/photo-1576012515939-5c62ec3f4367?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80);
  background-position: center;
  background-size: cover;
  position: relative;
}


.fakeimg button {
  margin: 2.3em 0 0 4.3em;
  border-radius: 5em;
  padding: 0.6em;
  background-color: rgb(123, 106, 218, 255);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.7em;
}

.fakeimg h2 {
  margin: 1.3em 0 0 1.9em;
  width: 20vw;
  color: white;
  line-height: 150%;
  font-size: 1.6rem;
  /* font-weight: 800; */

}

.fakeimg p {
  color: white;
  margin: 1.3em 0 0 2.9em;
  font-size: 1rem;
  width: 45vw;
  line-height: 150%;
}

.demo .btn2 {

  margin-bottom: 10px;
  padding: 1em;
  color: rgb(123, 106, 218, 255);
  background-color: white;
  cursor: pointer;
  align-self: center;
}

.demo {
  display: flex;
  align-items: center;

  /* position: relative; */
  /* background-color: bisque; */
}



.demo i {

  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  margin-top: 3vh;
  margin-left: 2vw;
}

.demo h5 {
  font-size: 0.8rem;
  color: rgb(229, 233, 244);
  cursor: pointer;
  margin-top: 3vh;
  margin-left: 1vw;


}


.secondsec{

 
  padding: 20px;
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  

}


.div1{

  height: 40vh;
  width: 20vw;
  background-color: rgba(241,240,254,255);
  margin: 9em 0 0 5em;
  border-radius: 8px;
  
}

.maindiv h3 , p{
  margin:2em 0 0 1.5em;
  line-height:30px;
 
}

.maindiv p{
  margin-top: 0.5em;
}

.maindiv button{
  padding: 0.8em;
  margin:0.5em 0 0 2em;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color:rgba(123, 106, 218, 255);
  background-color: white;
  width: 7vw;
  font-weight: 600;
}



.div2{

  height: 40vh;
  width: 20vw;
  background-color: rgba(241,240,254,255);
  margin: 9em 0 0 5em;
  border-radius: 10px;
}


.div3{

  height: 40vh;
  width: 20vw;
  background-color: rgba(241,240,254,255);
  margin: 9em 0 0 5em;
  border-radius: 10px;

}

.round1{
  width: 8vw;
  height: 18vh;
  background-color: rgb(123, 106, 218, 255);
  border-radius: 50%;
  position: absolute;
  top:20%;
  left: 27%;
  background-image:url(https://e7.pngegg.com/pngimages/312/889/png-clipart-master-s-degree-academic-degree-online-degree-master-of-science-master-of-education-master-degree-text-logo.png);
  background-position: center;
  background-size: cover;
  
}

.round2{
  width: 8vw;
  height: 18vh;
  background-color: rgb(123, 106, 218, 255);
  border-radius: 50%;
  position: absolute;
  top:20%;
  left: 58%;  
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/007/642/164/small/headphone-earphone-headset-for-music-line-pop-art-potrait-logo-colorful-design-with-dark-background-abstract-illustration-vector.jpg);
  background-position: center;
  background-size: cover;

}

.round3{
  width: 8vw;
  height: 18vh;
  background-color: rgb(123, 106, 218, 255);
  border-radius: 50%;
  position: absolute;
  top:20%;
  left: 89%;
  background-image: url(https://t4.ftcdn.net/jpg/04/68/51/83/360_F_468518307_E0oIClrNW6zePs06TjVNwBw4HyKHrxzY.jpg);
  background-position: center;
  background-size: cover;
}

.question{
  background-color: rgba(123, 106, 218, 255);
  height: 75vh;
  width: 40vw;
  border-radius: 20px;
  margin:0 0 0 10em;
  position: relative;
}

.question .firstq{
  width: 32vw;
  height: 7vh;
  background-color: white;
  border-radius: 50px;
  padding-left:1.5em;
  padding-top: 0.7em;
  position: absolute;
  top: 10%;
  left: 10%;
  position: relative;
}

.firstq i{
  font-size: 1.6rem;
  color: rgb(123, 106, 218, 255);
  position: absolute;
  top: 14%;
  left: 91%;
  cursor: pointer;
   
}

.question .secq{
  width: 32vw;
  height: 7vh;
  background-color: white;
  border-radius: 50px;
  padding-left:1.5em;
  padding-top: 0.7em;
  position: absolute;
  top: 15%;
  left: 10%;
  position: relative;
} 

.secq i{
  font-size: 1.6rem;
  color: rgb(123, 106, 218, 255);
  position: absolute;
  top: 14%;
  left: 91%;
  cursor: pointer;
}

.question .thirdq{
  width: 32vw;
  height: 27vh;
  background-color: white;
  border-radius: 20px;
  padding-left:1.5em;
  padding-top: 0.7em;
  position: absolute;
  top: 20%;
  left: 10%;
  position: relative; 

}

.thirdq h4{
  color: rgb(123, 106, 218, 255);
}
.thirdq p{
    margin-top: 0.9em;
    margin-left: 0.5em;
    font-family: fantasy;
}

.thirdq i{
  font-size: 1.6rem;
  color: rgb(123, 106, 218, 255);
  position: absolute;
  top: 5%;
  left: 91%;
  cursor: pointer;
}



.question .fourq{
  width: 32vw;
  height: 7vh;
  background-color: white;
  border-radius: 50px;
  padding-left:1.5em;
  padding-top: 0.7em;
  position: absolute;
  top: 25%;
  left: 10%;
  position: relative;
} 

.fourq i{
  font-size: 1.6rem;
  color: rgb(123, 106, 218, 255);
  position: absolute;
  top: 14%;
  left: 91%;
  cursor: pointer;
}
.thirdsec{
  display: flex;
}

.aboutus{
  width: 50vw;
  height: 65vh;
  background-color: rgba(241,240,254,255);
  margin-top: 1.7em;
}

.aboutus h4 , p , h2 , button{
  margin: 1em 0 0 4em;
}

.aboutus h4{
  color: rgb(123, 106, 218, 255);
  font-size: 1.2rem;
  margin-top:3em ;
}

.aboutus h2{
  font-size: 1.9rem;
  font-weight: 900;
  margin-left: 2.5em;

}

.aboutus p{
  font-family: fantasy;
  margin-left: 5em;
}

.aboutus button{
  margin: 2em 0 0 6em;
  padding: 1em;
  color: rgb(123, 106, 218, 255);
  background-color: white;
  border-radius: 40px;
  border: none;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  width: 10vw;
}

/* *********************courses section****************** */
.litnav{
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-left: 22em;
  background-color: rgba(241,240,254,255);
  width: 50vw;
  border-radius: 50px;
  color: black;
  height: 9vh;
  align-items: center;
}

.litnav a{
  margin-left: 3em;
  text-decoration: none;

}

.courses h2{
  text-align: center;
  font-weight: 800;
}


/* course cards */

.coursecards{
  display: flex;
  margin-top: 4em;
  gap:30px;

}

.card{
background-color: #fff;
width:30vw;
border-radius: 20px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
text-align: start;
background-color: rgb(241,240,254,255);
height: 50vh;
position: relative;
}

.card img {
width: 30vw;
height: 35vh;
border-radius: 20px;

}

.card h2 {
font-size: 1.5rem;
margin: 10px 0;
text-align: start;
margin-left: 1em;
}

.card h4 {
font-size: 1rem;
color: rgba(123, 106, 218, 255);
margin-left: 2em;
}

.prize{
  width: 5vw;
  height: 5vw;
  background-color: rgb(123, 106, 218, 255);
  position: absolute;
  top: 0%;
  left: 83.5%;
  border-top-right-radius:20px;
  border-bottom-left-radius: 100px;
}

.prize h3{
  margin-top: 1em;
  margin-left: 1em;
  color: white;

}


.count{
  margin-top: 5em;
  width:85vw;
  height:35vh;
  background-color: rgba(123, 106, 218, 255);
  border-bottom-right-radius: 150px;
  border-top-right-radius:150px ;
  display: flex;
}


.count .c h3 , h5{
  color: white;

}


.count .one h3{
  margin-top: 3em;
  margin-left: 5em;
  font-weight: 900;
  font-size: 1.5rem;
}

.count .one h5{
  margin-top: 1em;
  margin-left: 7.5em;
}


.count .two h3{
  margin-top: 3em;
  margin-left: 7em;
  font-weight: 900;
  font-size: 1.5rem;
}

.count .two h5{
  margin-top: 1em;
  margin-left: 11em; 
}



.count .three h3{
  margin-top: 3em;
  margin-left: 7em;
  font-weight: 900;
  font-size: 1.5rem;
}

.count .three h5{
  margin-top: 1em;
  margin-left: 11em; 
}

.count .four h3{
  margin-top: 3em;
  margin-left: 7em;
  font-weight: 900;
  font-size: 1.5rem;
}

.count .four h5{
  margin-top: 1em;
  margin-left: 11em; 
}

/* person cards */

.personcards{
  display: flex;
  gap:30px;
  position: relative;

}

.card1{
background-color: #fff;
width:20vw;
border-radius: 20px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
text-align: start;
background-color: rgb(241,240,254,255);
height: 40vh;
/* position: relative; */
margin-top: 10em;
margin-left: 1.5em;

}

.card1 img {
width: 15vw;
height: 30vh;
border-radius:50%;
position: absolute;
top: 20%;
margin-left: 2em;
/* display: none; */
}

.card1 h3{
font-size: 1.2rem;
margin-top:0.5em ;
text-align: start;
margin-left: 3.5em; 
color: black;
}

.card1 h4{
font-size: 1rem;
color: rgba(123, 106, 218, 255);
margin-left: 6em;
margin-top: 7em;
}

.card103 h3{
  margin-left:5.1em;
  color: black;
}


.card1 i{
  margin-left: 1em;
  margin-top: 10px;
  cursor: pointer;
  color: rgb(123, 106, 218, 255);
  font-size:1.3rem ;

}

.card1 .ri-facebook-circle-fill{
  margin-left: 3.5em;
}

.card1 .icon{
  margin-top: 1em;
}

/* testimony section  */

.testimony{
    margin-top: 9em;
    display: flex;
    position: relative;
}

.testimony .tdiv1{
    height: 50vh;
    width: 40vw;
    background-color: rgb(123, 106, 218, 255);
    margin-left: 10em;
    border-radius: 20px;
    margin-top: 4em;
    position: absolute;
}


.testimony .tdiv2{
  height: 70vh;
    width: 60vw;
    background-color: rgb(241,240,254,255);
    margin-left:34em;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    
}

.testimony .tdiv1 p{
  color: white;
  margin-top: 4em;
}

.testimony .tdiv1 .tdiv11 img{
      height: 14vh;
      width: 7vw;
      border-radius: 50%;
      margin: 2em 0 0 3.5em;
      background-size: cover;
      background-position: center;
}


.tdiv1 h4{
    margin-left: 11em;
    margin-top: -4.5em;
    color: white;
}

.tdiv1 h2{
  margin-left:7em;
  margin-top: 0.5em;
  color: white;

}


.tdiv2 h4{
  color: rgba(123, 106, 218, 255);
  margin-top: 4em;
  margin-left: 15em;
  
}

.tdiv2 h1{
  margin-top: 1em;
  margin-left: 6em;
  font-size: 2.5rem;
  font-weight: 600;
}

.tdiv2 p{
  margin:3em 0 0 13em;
  font-size: 1.2rem;
}


/* Contact us us */


.contactus{
  margin-top: 5em;
  display: flex;
  position: relative;
}

.contactus .cdiv1{
    height: 100vh;
      width: 55vw;
      background-color: rgb(241,240,254,255);
      margin-left:0em;
      border-top-right-radius: 20%;
      border-bottom-right-radius: 20%;
}

.cdiv1 h4{
  color: rgba(123, 106, 218, 255);
  margin-top: 4em;
  margin-left: 3em;
  
}

.cdiv1 h1{
  margin-top: 0.5em;
  margin-left: 1.1em;
  font-size: 2.3rem;
  font-weight: 600;
  width: 30vw;
}

.cdiv1 p{
  margin:3em 0 0 2.5em;
  font-size: 1.1rem;
  width: 40vw;
}

.cdiv1 .offer{
  height: 18vh;
  width: 32vw;
  background-color: white;
  border-radius:10px;
  margin-top: 5em;
  margin-left: 2em;
}

.cdiv1 .offer .rounddiv{
  height: fit-content;
  width: 4em;
  height: 6.6em;
  background-color: rgba(123, 106, 218, 255);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  
}

.cdiv1 .offer .rounddiv h5 , h3{
  color:white;
  margin-top: 10px;  
  margin-left: 5px;
}    

.cdiv1 .offer .rounddiv h3{
  color:white;
  margin-top: 1px;  
  margin-left:15px;
  font-size: 1.5rem;
  font-weight: 800;
}    

.rounddiv i{
  color: white;
  background-color: rgba(141, 125, 223, 255);
  border-radius: 20px;
  cursor: pointer;
}

     

.offer h4 {
  margin-top: -5em;
  margin-left: 7em;
}
.offer h4 span{
  color: brown;
}

.offer h3 {
  margin-top: 1em;
  margin-left: 6em;
  color: black;
}

.offer h3 span{
  color: rgba(123, 106, 218, 255);
}

.offer i{
  font-size: 2rem;
  font-weight: 800;
  margin-left: 12em;
  margin-top: 1em;
}


.contactus .cdiv2{
  height: 80vh;
  width: 40vw;
  background-color: rgb(123, 106, 218, 255);
  margin-left: 40em;
  border-radius:20px;
  margin-top: 3.5em;
  position: absolute;
  display: block;
}

.contactus .cdiv2 #name{
  margin-top: 5em;
  margin-left: 5em;
}

.contactus .cdiv2 #email{
  margin-top: 4em;
  margin-left: 5em;
}

.contactus .cdiv2 #message{
  margin-top: 4em;
  margin-left: 5em;
  height: 20vh;
}

.contactus .cdiv2 button{
  padding: 0.7em;
  width: 10vw;
  background-color: white;
  border-radius: 20px;
  border: none;
  color: rgba(123, 106, 218, 255);
  cursor: pointer;
  margin-top: 3em;
  margin-left: 5em;
  
}


.cdiv2 .form{
  width: 30vw;
  height: 7vh;
  border-radius: 20px;
  background-color: rgba(141, 125, 223, 255);
  border:none;

}

::placeholder{
    text-align: center;
    color: #fff;
}

/* Footer */

.footer{
  width:98vw;
  height: 20vh;
  background-color: rgba(123, 106, 218, 255);
  border-top-right-radius:150px ;
  border-top-left-radius: 150px;
  margin-left: 0em;
  margin-top: 5em;
  display: flex;
  align-items: center;
  
}

.footer h5{
  font-size: 1rem;
  width: 50em;
  margin-left: 26em; 
}


